#sep-bottom-6 .bg-wrap {
    background-color: rgba(255, 255, 255, 0);
}     #footer-logo-text-2 .bg {
    background-image: url('../images/bg-pattern-1-primary.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto;
    opacity:0.05;
}
